body {

    overflow: hidden;

    margin: 0;

    background-color:ghostwhite;

    width: 100vw;
    height: 100vh;

    /* Center the UI */ 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#UI {

    /* Children: button and square container */ 
    display: flex;
    flex-direction: column;
 
}

button {
    font-family: 'Chakra Petch', cursive;
    margin: 0; 
    padding: 0;
    border: 0;
    background-color: white;
}


#squares-container {    
    
    padding: 0;

    /* Make it square */ 

    width: 95vh;
    height: 95vh;

    grid-template-columns: repeat(16, auto);

    display: grid;

    background: rgb(255,181,1);
    background: linear-gradient(180deg, rgba(255,181,1,1) 0%, rgba(116,30,1,1) 100%, rgba(0,212,255,1) 100%);


}

.square {
    background-color: transparent;
}

.etch { 
    background-color: lightskyblue !important;
    z-index: 999;
}

#again {
    color: crimson;
    text-decoration: underline;
}

#again:hover {
    cursor: pointer;
}