html {
  /* MVP workaround for mobile screens */
  overflow-x: hidden;
}

body,
button {
  margin: 0;
  padding: 0;
}

html,
body,
#UI {
  /* html - Fill the whole mobile device's height, despite search bar */
  /* body - UI relies on this height */
  /* #UI - use % instead of vh for mobile device top search bar integration */
  height: 100%;
}

body,
#UI {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: ghostwhite;
}

button {
  border: 0;
  font-family: "Chakra Petch", cursive;
  background-color: white;
}

#squares-container {
  /* Make the grid square, but not fill entire page. */
  width: 77vh;
  height: 77vh;

  display: grid;

  background: linear-gradient(
    180deg,
    rgba(255, 181, 1, 1) 0%,
    rgba(116, 30, 1, 1) 100%
  );
}

.etch {
  background-color: lightskyblue;
}

#again {
  color: crimson;
  text-decoration: underline;
}

#again:hover {
  cursor: pointer;
}
